---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import PhoenixFleets from '../components/PhoenixFleets.astro';
import ServicesGrid from '../components/ServicesGrid.astro';
import CorridorCoverage from '../components/CorridorCoverage.astro';
import PhoenixProblems from '../components/PhoenixProblems.astro';
import HowItWorks from '../components/HowItWorks.astro';
import UnifiedEmergencyHub from '../components/UnifiedEmergencyHub.astro';
import WhyChooseUs from '../components/WhyChooseUs.astro';
import FleetServices from '../components/FleetServices.astro';
import ServiceArea from '../components/ServiceArea.astro';
import ContactForm from '../components/ContactForm.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="AZ Mobile Diesel Repair - Mobile Diesel Mechanic in Phoenix, AZ">
  <Header />
  <Hero />
  <main>
    <PhoenixFleets />
    <ServicesGrid />
    <CorridorCoverage />
    <PhoenixProblems />
    <HowItWorks />
    <UnifiedEmergencyHub />
    <WhyChooseUs />
    <FleetServices />
    <ServiceArea />
    <ContactForm />
    <FAQ />
  </main>
  <Footer />
</Layout>